#c1{
    border: 7px solid rgb(184,184,184);
    background-color: #555555;
    display: flex;
    width: 20%;
    padding-bottom: 25%;
}

#header{
    border: 2px solid rgb(255,0,0);
    background-color: #251e66;
    display: flex;
    width: 70%;
    padding-bottom: 2%;
    margin-bottom: 0.5%;
}

#header p{
    color: rgb(225,235,136);
}

#c2{
    display: flex;
}

#nav{
    display: flex;
    width: 5%;
    margin-right: 2%;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    flex-direction: column;
    align-items: center;
}

#contentinner{
    display: flex;
    width: 60%;
    padding-bottom: 5%;
    margin-right: 1%;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

#minicaja{
    background-color: #b8b6b6;
    border: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 30%;
    padding-right: 30%;
}

#minicajatop{
    background-color: #b8b6b6;
    border: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 27%;
    padding-right: 27%;
    border-top: 18px solid black;
}

#minicajabottom{
    background-color: #b8b6b6;
    border: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 27%;
    padding-right: 27%;
    border-bottom: 18px solid black;
}